{% extends 'createsite/base.html' %}

{% block content %}

    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <img src="static/img/user.png" alt="Stanley">
                    <h1>Hi, {{ username }}!</h1>
                </div><!-- /col-lg-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /ww -->

    <!-- +++++ Projects Section +++++ -->

    <div class="container pt">
        <div class="row mt centered">
            {% for page in pages %}
                <div class="col-lg-4">
                    <a class="zoom green" href=""><img class="img-responsive"
                                                                  src="static/img/portfolio/4.png" alt="Изображение не прогрузилось. Попробуйте обновить страницу"/></a>
                    <p>{{ page.title }}</p>
                </div>
            {% endfor %}

        </div><!-- /row -->
    </div><!-- /container -->

{% endblock content %}